{% extends 'base.html.twig' %}

{% block title %}GaleryUser index{% endblock %}

{% block body %}
    <h1>GaleryUser index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nickname</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for galery_user in galery_users %}
            <tr>
                <td>{{ galery_user.id }}</td>
                <td>{{ galery_user.nickname }}</td>
                <td>{{ galery_user.description }}</td>
                <td>
                    <a href="{{ path('galery_user_show', {'id': galery_user.id}) }}">show</a>
                    <a href="{{ path('galery_user_edit', {'id': galery_user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('galery_user_new') }}">Create new</a>
{% endblock %}
