{% extends 'base.html.twig' %}

{% block title %}Post{% endblock %}

{% block body %}
<div class="album row bg-light">
    <div class="container">

        <div class="row m-5 py-5">
            {% for post in posts %}
            <div class="col-md-auto">
                <div class="card mb-4 box-shadow" style="width: 226px; display: block;">
                    <img class="card-img-top" data-src="{{ asset('uploads/') ~ post.getImg }}" style="width: 225px; display: block;" src="{{ asset('uploads/') ~ post.getImg }}" data-holder-rendered="true">
                    <div class="card-body">
                        <p class="card-text">{{ post.description }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a type="button" class="btn btn-sm btn-outline-secondary"
                                   href="{{ path('post_show', {'id': post.id}) }}">Показать</a>
                                {% if edit == true %}
                                <a type="button" class="btn btn-sm btn-outline-secondary"
                                   href="{{ path('post_edit', {'id': post.id}) }}">Редактировать</a>
                                {% endif %}
                            </div>
                        </div>
                        <small class="text-muted">{{ post.dateOfCreation|date("m/d/Y") }}</small>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}