{% extends 'base.html.twig' %}

{% block title %}Post{% endblock %}

{% block body %}
    <div class="col-md-auto center">
        <a href="{{ ref }}"><назад</a>
        <div class="card mb-4 box-shadow" style="width: 226px; display: block;">
            <img class="card-img-top" data-src="{{ asset('uploads/') ~ post.getImg }}" style="display: block;" src="{{ asset('uploads/') ~ post.getImg }}" data-holder-rendered="true">
            <div class="card-body">
                <p class="card-text">{{ post.description }}</p>
                <div class="row">
                        {% if post.searchHeart(app.user) == null %}
                            {{ include('like/_like.html.twig') }}
                        {% else %}
                            {{ include('like/_dislike.html.twig') }}
                        {% endif %}
                    <p class="col py-2">{{ hearts_numb }}</p>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        {% if post.getUser.getId == app.user.getId %}
                            <a type="button" class="btn btn-sm btn-outline-secondary"
                               href="{{ path('post_edit', {'id': post.id}) }}">Редактировать</a>
                        {% endif %}
                    </div>
                </div>
                <small class="text-muted">{{ post.dateOfCreation|date("m/d/Y") }}</small>
            </div>
        </div>
    </div>

    {#<h1>Post</h1>

    <table class="table">
        <tbody>
        {% if post.getUser.getId == app.user.getId %}
        {% else%}
            <tr>
                <th>Пользователь</th>
                <td><a href="{{ path('user_show', {'id': post.getUser.getId}) }}">{{ post.getUser.getNickname }}</a></td>
            </tr>
        {% endif %}
            <tr>
                <th>Дата создания</th>
                <td>{{ post.dateOfCreation ? post.dateOfCreation|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Описание</th>
                <td>{{ post.description }}</td>
            </tr>
            <tr>
                <th>Категория</th>
                {% if  post.getCategory is not same as(null)  %}
                <td><a href="{{ path('by_category', {'id': post.getId}) }}">{{ post.category }}</a></td>
                {% else %}
                <td> {{ post.category }}</td>
                {% endif %}
            </tr>
            <tr>
                <td><img src="{{ asset('uploads/') ~ image }}" width="300"></td>
            </tr>
            <tr>
                <td><img src="https://img.icons8.com/cotton/64/000000/like--v1.png"/>{{ hearts_numb }}</td>
            </tr>

        </tbody>
    </table>
    <ul>
        <li>
            {% if post.getUser.getId == app.user.getId %}
                <a href="{{ path('post_edit', {'id': post.id}) }}">редактировать</a>
            {% else%}
                {% if post.searchHeart(app.user) == null %}
                    {{ include('like/_like.html.twig') }}
                {% else %}
                    {{ include('like/_dislike.html.twig') }}
                {% endif %}
            {% endif %}
        </li>
        <li> <a href="{{ ref }}">назад</a></li>
    </ul>#}

{% endblock %}
