{% extends 'base.html.twig' %}

{% block title %}{{ name }}{% endblock %}

{% block body %}
    <h1>{{name}}</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>nickname</th>
            <th>Описание</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.nickname }}</td>
                    <td>{{ user.description }}</td>

                    <td>
                        <a href="{{ path('user_show', {'id': user.id}) }}">показать</a>
                    </td>
                </tr>
        {% else %}
            <tr>
                <td colspan="4">записи не найдены</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
