{% extends 'base.html.twig' %}

{% block title %}{{ user.nickname }}{% endblock %}

{% block body %}
    <h1> {{ user.nickname }}</h1>
    <table class="table">
        <tbody>
        <tr>
            <th>Email</th>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <th>Nickname</th>
            <td>{{ user.nickname }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ user.description }}</td>
        </tr>
        </tbody>
    </table>
    {% if app.user.isSubscribed(user) == false %}
        {{ include('user/_form.html.twig') }}
    {% else %}
        {{ include('user/_unsubscribe_form.html.twig') }}
    {% endif %}
    <table class="table">
        <thead>
        <tr>
            <th>Фото</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td><img src="{{ asset('uploads/') ~ post.getImg }}" width="200"></td>
                <td>
                    <a href="{{ path('post_show', {'id': post.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
