{% extends 'base.html.twig' %}

{% block title %}{{ user.nickname }}{% endblock %}

{% block body %}
    <section class="text-center">
        <div class="container">
            <h1 class="jumbotron-heading">@{{ user.nickname}}</h1>
            <p class="lead text-muted">{{ app.user.description }}</p>
            {% if app.user.isSubscribed(user) == false %}
                {{ include('user/_subscribe_form.html.twig') }}
            {% else %}
                {{ include('user/_unsubscribe_form.html.twig') }}
            {% endif %}
        </div>
    </section>

    {% include 'post/album.html.twig' with {
        posts: posts,
        edit: false,
    } %}

{% endblock %}
